@page "/converter"
<h3>Converter</h3>
<label>Inches</label>
<input type="number" @bind="Inches" @bind:event="oninput"/>
<span> = </span>
<input type="number" @bind="Centimeters" @bind:event="oninput" />
<label>Centimeters</label>
<p>The value of inches is: @inches</p>
@code {
    double inches = 1; // default value
    double centimeters = 2.54; // default value

    public double Inches
    {
        get => inches;
        set
        {
            centimeters = value * 2.54;
            inches = value;
        }
    }
    public double Centimeters
    {
        get => centimeters;
        set
        {
            inches = value / 2.54;
            centimeters = value;
        }
    }
    void UpdateValue(ChangeEventArgs e)
    {
        double val = 0; // Failing to parse will set to 0
        double.TryParse(e.Value.ToString(), out val);
        inches = val;
    }

}
